.adoption {
  display: flex; justify-content:center; align-items:center;
}

.parent {
  display: flex; justify-content:center; align-items:center;
}

.buttons {
  display: table-cell;
  font-size: 14px;
  margin-left: 8px;
  min-width: 120px;
}