<div class="adoption">
    <button [routerLink]="['/pets']" routerLinkActive="active">
      Create Adoption
    </button>
</div>

<div>
    <table>
        <thead>
            <th>Name</th>
            <th>Spitz</th>
        </thead>
        <tbody>
            <tr>
                @for (pet of pets$ | async; track $index) {
                    <td>{{ pet.name }}</td>
                    <td>{{ pet.spitz }}</td>
                    <td>
                        <button (click)="deleteAdoption(pet.id)">Remove</button>
                        <button (click)="detailedAdoption(pet.id)">Detail</button>
                        <button (click)="updateAdoption(pet.id)">Update</button>
                    </td>
                    <br>
                }
            </tr>
        </tbody>
    </table>
</div>